nz-content {
  position: absolute;
  width: 100vw;
}

.table {
  overflow-x: scroll;
}

nz-content {
  padding: 0 50px;
}

.site_name {
  color: white;
}

@media only screen and (max-width: 400px) {
  .site_name {
    font-size: 8px;
  }

  app-usr-add-edit {
    width: 50px;
  }
}

   